.container-hero {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  gap: 50px 25px;
  margin: 0 75px 35px 75px;
  min-height: 200px;
}

@media screen and (max-width: 1275px) {
  .container-hero {
    margin: 0 50px 35px 50px;
  }
}
